adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
ftdi channel 0
adapter speed 1000

# The standard layout for FT2232H SWD
ftdi layout_init 0x0008 0x000b
ftdi layout_signal nTRST -data 0x0010
ftdi layout_signal nSRST -data 0x0020

# Define the SWD_EN signal (usually 0 for FT2232H based probes)
ftdi layout_signal SWD_EN -data 0

transport select swd
source [find target/rp2040.cfg]
